Many solutions for the same problem, but lack of clear applicably guidance

From Jean-Michel Combes:

> J'ai un cas de 2 mécanismes standardisés pour une même problématique : la mise en place d'ACLs sur des routeurs, soit via BGP FlowSpec [RFC8955][RFC8956], soit via NETCONF/YANG [RFC8519].
Aucun des documents cités ne citent l'autre solution et propose une explication/raison claire concernant l'utilisation de l'un ou l'autre.

> Du coup, mon (seul - actuellement) commentaire serait que lorsque l'IETF standardise plusieurs solutions, que des explications/raisons soient intégrés dans les spécifications.
